/*
 default styling for the page we use html tag selector
 */
html {
  font-family: "Lato", sans-serif;
}
h1 {
  font-weight: 400;
}
header {
  /*
  flex is a flexbox library
  flex helps us to create a layout inlines
  */
  display: flex;
  justify-content: space-between;
  margin: 0 3rem;
  /*
   margin (2 args): top/bottom right/left;  
   margin (3 args): top right/left bottom;
   1rem = 16px (rem is a unit equal to default font size)
   */
}
nav {
  /* the function of position relative is to make the nav bar stay at the top of the page */
  position: relative;
  top: 1rem;
  right: 3rem;
  width: 20rem;
}
ul {
  display: flex;
  justify-content: space-between;
}
li {
  list-style: none;
  font-size: 1.5rem;
}
.showcase_img {
  /* 
    viewport : the size of the browser window (height and width)
    vh : viewport height
    vw : viewport width

    */
  width: 95vw;
  margin: 1rem;
}
.article {
  display: flex;
}
.content {
  text-align: center;
}
